@model IEnumerable<TocToc.ModelData.Logic.TipoProduto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Compartilhada/Base.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo", "Incluir")
</p>
<table>
    <tr>
        <th>
            Tipo de Produto
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
